ul {
    list-style: none;
  
    margin: 0;
    padding: 0;
  }
  article {
      margin: 30px;
  }
.gallery {
  display: flexbox;
  margin: 30px;
  width: 500px;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
#text {
    font-size: 50px;
}